.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 5px;
  resize: vertical;
}

.word-count {
  margin-top: 10px;
  font-size: 18px;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-count strong {
  font-size: 24px;
  margin-left: 5px;
  color: #2196f3;
}
